page{
    width:100%;
    height: 100%;
    background-color: #2db7f5;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding:50rpx 0;
    box-sizing: border-box;
}
.page-section{
    width: 90%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10rpx;
    padding:10rpx;
    margin: 4%;
}
.page-section Button{
    width:90%
}
.page-section Image{
    width:200rpx;
    height: 200rpx;
}