.index{
    width: 100%;
    height: 80rpx;
    line-height: 80rpx;
    background-color: #ccc;
    color: black;
    border-bottom: 2rpx solid gray;
    position: relative;
}

.arrow{
    color: black;
    position:absolute;
    right: 20rpx;
}