.container{
display: flex;
flex-direction: column;
width: 100%;
height: 100%;
}

.container-content{
display: flex;
flex-direction: column;
width: 100%;
padding: 16px 16px;
margin: 0 auto;
}

.user-info{
display: flex;
flex-direction: row;
width:100%;
align-items: center;
}

.user-head{
width: 72rpx;
height: 72rpx;
line-height: 72rpx;
border-radius: 50%;
background: #ccc;
}

.user-name-time{
width: 80%;
margin-top: 10rpx;
margin-left: 20rpx;
}

.user-name{
font-size: 36rpx;
color: #333;
font-weight: bold;
}

.user-publish-time{
font-size:30rpx;
color:#999;
}

.content{
display: flex;
flex-direction: column;
margin-left: 5%;
margin-top: 28rpx;
}

.content-scroll{
display: felx;
flex-direction: row;
width: 100%;

}

.content-text{
font-size: 36rpx;
color:#666;
margin-left: 20rpx;
}

.content-img{
width: 200rpx;
height: 200rpx;
margin-left: 20rpx;
margin-top: 20rpx;
background: #999;
}
/* 喜欢 */
.like-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40rpx;
    margin-bottom:80rpx;
}
.like-icon{
    width:90rpx;
    height: 490rpx;
}
.like-text{
    font-size:32rpx;
    color:rgb(17,14,16);
    font-weight: bold;
}
.reply-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:40rpx;
    margin-bottom:80rpx;
    position: fixed;
    right:0;
}
.reply-content{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.tip-text{
    margin:10rpx;
}